daemon off;
user nobody nogroup;
pid "/var/run/nginx.pid";
error_log stderr notice;

worker_processes {{ nginx_workers|default(1) }};
events {
	use epoll;
	worker_connections 1024;
	multi_accept on;
}

http {
	error_log stderr notice;
	access_log off;

	sendfile on;
	keepalive_timeout 10;

	default_type application/octet-stream;

	include "/etc/nginx/mime.types";
	include "/etc/nginx/virtuals/*.conf";
}
